@import "../../../../scss/variables";
@import "../../../../scss/mixins";

.contenedor-modal-horario {
  @include contenedor-ventana-modal();
  @include dimensiones(100%, 100%, 0, 20vh 30%);
}

.modal-horario {
  @include estilo-ventana-modal();

  #{&}-formulario {
    padding: 1rem 2rem;
    background: darken($color-uno, 0.5%);
    color: $color-dos;

    &-texto {
      @include dimensiones(80%, 2rem, auto, auto);
      color: $color-dos;
      margin-bottom: 0.7rem;
      padding: 0.35rem;
      font-size: 1rem;
      background: $color-uno;
      outline: none;
      box-shadow: 2px 2px 10px darken($color-uno, 15%),
        -2px -2px 10px darken($color-uno, 15%);
    }

    &-botones {
      @include boton-general($color-dos);
      margin: 0.5rem;
      color: $color-uno;
    }
  }

  #{&}-titulo {
    color: $color-dos;
    padding: 0.35rem 0 0 0;
  }

  #{&}-subtitulo {
    color: $color-dos;
    padding: 0 0 0.35rem 0;
  }

  #{&}-contenido {
    margin-top: 2rem;
    &-texto {
      margin: 0 2rem;
      text-align: left;
      font-size: 1rem;
    }
  }
}
