@mixin boton-general($color-fondo) {
    padding: 0.8rem;
    background: $color-fondo;
    border-radius: 20%;
 
    &:hover {
       cursor: pointer;
       background: darken($color-fondo, 25%);
       color: lighten($color-fondo, 75%);
    }
 }