@import './mixins';
@import "../../../../scss/variables";

.contenedor{
    
    display: flex;
    justify-content: flex-start;
    margin:auto;
    
    
}
.vista{
    width: 20%;
    margin: 3%;
    margin-left: 10%;
    
    #{&}-cuenta{
        display: flex;
        flex-direction: column;
        padding:10%;
        margin: 0%;
        background-color: $color-dos;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10%;
        &-imagen{
            background-color: $color-uno;
            border-radius: 50%;
            width: 70%;
            height: 70%;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 10%;
            
        }
        &-nombreUsuario{
            text-align: center;
            color: $color-uno;
            margin-bottom: 8%;
        }
        &-boton{
            margin-left: auto;
            margin-right: auto;
            font-size: 70%;
            width: 60%;
            
            @include boton-general($color-tres);
        }
    }

}
.editar-cuenta{
    border-radius: 2%;
    width: 50%;
    color: $color-uno;
    margin-top: 2%;
    margin-bottom: 1%;
    background-color: $color-dos;
    padding: 2%;

    #{&}-contenedor{
        display: flex;
        align-items: baseline;
        justify-content: center;
        &-etiqueta{
            padding: 2%;
            width: 35%;
            display: flex;
            flex-direction: column;
            
            
            &-nombre{
                margin: 8.75%;
                font-size: 98%;
            }
        }
        &-parametro{
            display: flex;
            flex-direction: column;
            width: 65%;
            padding: 2%;
            
            &-entrada{
                width: 90%;
                margin: 4.34%;
                margin-left: 0%;
            }
        }
    }
    &-boton-enviar{
        @include boton-general($color-tres);
        padding: 1%;
        margin-top: 2%;
        margin-left: 45%;
        font-size: 90%;
        
    }

}
    
    

.eliminar-perfil{
    
    #{&}-boton{
        @include boton-general(red);
        margin-left: 72%;
        font-size: 80%;
       
    }
    
}