@import "../../scss/variables";
@import "../../scss/mixins";

.barra-navegacion {
   background-color: $color-primario-barra-nav;
   @include pantalla-celular {
      margin-bottom: 3rem;
   }

   ul {
      display: flex;
      flex-direction: row;

      li {
         padding: 1rem 1rem;
         list-style-type: none;
      }
   }

   #{&}-inicio {
      background-color: $color-primario-barra-nav;
   }

   #{&}-secciones {
      width: fit-content;
      display: flex;
      flex-direction: row;
      @include pantalla-celular {
         position: fixed;
         top: 0;
         right: 0;
         z-index: 10;
      }

      i {
         display: none;
         @include boton-icono($color-secundario-barra-nav, $color-tres, 1.5rem);
         margin: 0.5rem 0;
         margin-bottom: 0;
      }

      @media (max-width: 800px) {
         position: fixed;
         flex-direction: column;
         background-color: $color-primario-barra-nav;
         right: 0;
         text-align: right;

         i {
            display: inline;
            text-align: right;
         }

         li {
            margin: 0.25rem 1rem;
            padding: 0;
         }
      }
   }

   #{&}-enlace {
      text-decoration: none;
      font-weight: bold;
      color: $color-secundario-barra-nav;

      &:hover {
         color: darken($color-secundario-barra-nav, 30%);
      }
   }
}

.escondida {
   @include pantalla-celular {
      display: none;
   }
}
