@import "../../../../scss/variables";
@import "./mixins";

.barra-busqueda {
   margin: 2rem auto;
   width: 50%;

   #{&}-campo {
      height: 2rem;
      width: 78.5%;
      margin-left: 5%;
      margin-right: 1.25%;
      padding-left: 2.5%;
   }

   #{&}-boton {
      height: 2rem;
      width: 10%;
      margin-right: 5%;
      color: $color-uno;
      background: $color-dos;
      border-radius: 5%;
      cursor: pointer;

      &:hover {
         background: darken($color-dos, 25%);
         color: lighten($color-dos, 100%);
      }
   }
}
