@import "../../../../scss/variables";
@import "./mixins";

.barra-busqueda {
   margin: 2rem auto;
   width: 50%;

   #{&}-campo {
      height: 2rem;
      width: 78.5%;
      margin-left: 5%;
      margin-right: 1.25%;
      padding-left: 2.5%;
      background: lighten($color-uno, 5%);
   }

   #{&}-boton {
      padding: 0.35rem;
      color: $color-dos;
      background-color: $color-uno;
      border: none;

      i {
         font-style: normal;
         font-family: fontAwesome;
         font-size: 1.25rem;
      }

      &:hover {
         cursor: pointer;
         color: $color-uno;
         background-color: $color-dos;
         border-radius: 15%;
      }
   }
}
