@import "../../../../scss/variables";
@import "./mixins";

.contenedor-modal-filtro-entradas {
   width: 100%;
   height: 100%;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 10;
   padding: 7.5rem 30%;
   background-color: rgba($color-dos, 0.5);
}

.contenedor-modal-filtro-proyectos {
   width: 100%;
   height: 100%;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 10;
   padding: 0 25%;
   background-color: rgba($color-dos, 0.5);
}

.modal-filtro {
   height: fit-content;
   max-height: 95%;
   margin: 2.5% auto;
   border-radius: 1rem;
   background-color: $color-dos;
   text-align: center;
   overflow: auto;
   box-shadow: -0.2rem -0.2rem 0.05rem lighten($color-dos, 20%);

   h5 {
      margin: 1rem 1rem;
      color: $color-uno;
      font-weight: bold;
   }

   button {
      @include boton-general($color-tres);
      margin: 1rem 0.25rem;
      padding: 0.25rem 0.5rem;
      font-weight: bold;
   }

   #{&}-opciones,
   #{&}-seleccion {
      height: auto;
      margin: 0 1rem;
      padding: 2rem 1rem;
      background: $color-uno;
   }

   #{&}-seleccion {
      display: flex;
      flex-direction: column;
      text-align: left;

      &-etiqueta,
      &-etiqueta-parametro {
         margin: 0.5rem 2rem;
      }

      &-etiqueta-parametro {
         font-weight: bold;
      }

      &-caja-seleccion {
         margin-top: 1rem;
         margin-right: 0.5rem;
      }

      &-radio {
         margin: 0 1rem;
         background-color: $color-tres;
      }

      &-fecha,
      &-hora {
         margin-left: 0.5rem;
         padding: 0 0.25rem;
         color: $color-uno;
         background: $color-dos;
      }

      &-texto,
      &-selector {
         margin-left: 0.5rem;
         width: 50%;
         color: $color-tres;
         background: $color-dos;
      }

      &-selector {
         width: 20%;
      }

      &-categorias {
         display: flex;
         flex-direction: row;
         &-btn {
            @include boton-general-alt($color-dos, darken($color-cuatro, 40%));
            margin: 0.5rem 2rem;
            padding: 0.3rem;
            font-style: normal;
            font-size: 1rem;
            font-family: fontAwesome;
         }
      }

      &-fechas {
         margin: 0.5rem 3rem;

         li {
            display: flex;
            flex-direction: row;

            i {
               @include boton-general-alt($color-dos, $color-cuatro);
               padding: 0.125rem;
               margin-left: 0.5rem;
               font-size: 1.25rem; /* Set a font size */
               font-family: fontAwesome;
               font-style: normal;
            }
         }
      }

      &-fecha {
         &::-webkit-datetime-edit-text {
            color: darken($color-cuatro, 30%);
            padding: 0 0.2em;
         }
         &::-webkit-datetime-edit-month-field,
         &::-webkit-datetime-edit-day-field,
         &::-webkit-datetime-edit-year-field {
            color: lighten($color-tres, 10%);
         }
         &::-webkit-inner-spin-button {
            display: none;
         }
         &::-webkit-calendar-picker-indicator {
            filter: invert(0.9);
         }
      }

      &-hora {
         margin-bottom: 1rem;
         &::-webkit-datetime-edit-hour-field,
         &::-webkit-datetime-edit-minute-field,
         &::-webkit-datetime-edit-ampm-field {
            color: lighten($color-tres, 10%);
         }
         &::-webkit-calendar-picker-indicator {
            filter: invert(1);
         }
      }
   }
}

.modal-filtro::-webkit-scrollbar {
   margin-top: 1rem;
   width: 0.625rem;
}

.modal-filtro::-webkit-scrollbar-track {
   box-shadow: inset 0 0 0.5rem darken($color-uno, 40%);
}

.modal-filtro::-webkit-scrollbar-thumb {
   background-color: $color-uno;
   box-shadow: inset 0 0 0.5rem darken($color-dos, 50%);
   outline: 1px solid slategrey;
}

.modal-filtro::-webkit-scrollbar,
.modal-filtro::-webkit-scrollbar-track,
.modal-filtro::-webkit-scrollbar-thumb {
   border-radius: 0.5rem;
}
