@import "../../../../scss/variables";
@import "./mixins";

.panel-general-portafolio {
   width: 50%;
   margin: 0 auto;
   text-align: center;

   #{&}-contenedor {
      margin: 2rem auto 0 auto;
      width: 100%;
      height: 15rem;
      border: 0.1rem solid rgba(27, 110, 148, 0.89);
      background: $color-dos;
      color: $color-uno;
      border-radius: 10% 10% 0 0;
   }

   #{&}-direccion {
      color: darken($color-uno, 60%);
      background: lighten($color-dos, 25%);
      padding: 0.5rem 0;

      & i {
         margin: 0 5%;
         @include boton-general-alt($color-dos, $color-uno);
         font-size: 2rem; /* Set a font size */
         font-family: fontAwesome;
         font-style: normal;
      }
   }
}

@media screen and (max-width: 800px) {
   .panel-general-portafolio {
      width: 60%;
      margin: 0 auto;
      text-align: center;

      #{&}-contenedor {
         margin: 2rem auto 0 auto;
         width: 100%;
         height: 15rem;
         border: 0.1rem solid rgba(27, 110, 148, 0.89);
         background: $color-dos;
         color: $color-uno;
         border-radius: 10% 10% 0 0;
      }

      #{&}-direccion {
         color: darken($color-uno, 60%);
         background: lighten($color-dos, 25%);
         padding: 0.5rem 0;

         & i {
            margin: 0 5%;
            @include boton-general-alt($color-dos, $color-uno);
            font-size: 2rem; /* Set a font size */
            font-family: fontAwesome;
            font-style: normal;
         }
      }
   }
}
