@import "../../../../scss/variables";
@import "../../../../scss/resets";

.seccion-portafolio {
   display: flex;
   flex-direction: column;
   width: 100%;
   background: $color-uno;

   #{&}-subsecciones {
      display: flex;
      flex-direction: row;
   }
}

@media screen and (max-width: 800px) {
   * {
      font-size: 14px;
   }

   .seccion-portafolio {
      #{&}-subsecciones {
         flex-direction: column;
      }
   }
}

@media screen and (max-width: 800px) {
   * {
      font-size: 12px;
   }

   .seccion-portafolio {
      #{&}-subsecciones {
         flex-direction: column;
      }
   }
}

@media screen and (max-width: 600px) {
   * {
      font-size: 10px;
   }

   .seccion-portafolio {
      #{&}-subsecciones {
         flex-direction: column;
      }
   }
}

@media screen and (max-width: 400px) {
   * {
      font-size: 8px;
   }

   .seccion-portafolio {
      #{&}-subsecciones {
         flex-direction: column;
      }
   }
}

@media screen and (max-width: 200px) {
   * {
      font-size: 6px;
   }

   .seccion-portafolio {
      #{&}-subsecciones {
         flex-direction: column;
      }
   }
}
