@mixin boton-general($color-fondo) {
   padding: 0.5rem 1rem;
   background: $color-fondo;
   border-radius: 10%;
   border: none;
   box-shadow: 4px 4px 3px darken($color-uno, 20%);

   &:hover {
      cursor: pointer;
      background: darken($color-fondo, 25%);
      color: lighten($color-fondo, 75%);
      box-shadow: 2px 2px 1.5px darken($color-uno, 50%);
   }

   &:focus,
   & select:focus {
      outline: none;
      border: none;
   }
}
@mixin pantalla-celular {
   @media (max-width: 800px) {
      @content;
   }
}

@mixin pantalla-tablet {
   @media (min-width: 800px) and (max-width: 1100px) {
      @content;
   }
}