@import "../../../../scss/variables";
@import './mixins';

.contenedor-seccion {
    #{&}-boton-agregar {
        @include boton-general($color-tres);
        width: 15%;
        margin-bottom: 1%;;
        margin-left: 42%;
        margin-right: 42%;
    }
 }