.contenedor-modal-nuevo-proyecto {
   @include contenedor-ventana-modal();
   @include dimensiones(100%, 100%, 0, 10vh 30%);

   @include pantalla-tablet {
      font-size: 14px;
      @include dimensiones(100%, 100%, 0, 0vh 20%);
   }

   @include pantalla-celular {
      font-size: 12px;
      @include dimensiones(100%, 100%, 0, 0 10%);
      @media (min-width: 500px) and (max-width: 800px) {
         @include dimensiones(100%, 100%, 0, 0 10%);
      }
   }
}

.modal-nuevo-proyecto {
   @include estilo-ventana-modal();
   animation: divergencia-modal-nuevo-proyecto 1s;
   @media (min-height: 200px) and (max-height: 400px) {
      height: 95vh;
   }

   h5 {
      margin: 1rem 1rem;
      color: $color-uno;
      font-weight: bold;
      font-size: 1.15rem;
   }

   #{&}-formulario {
      @include disposicion-flex(column);
      text-align: left;
      margin: 1rem 1rem;
      padding: 2rem 3rem;
      background: $color-uno;
      animation: transicion-ventana-interna 2s;
      @media (min-height: 200px) and (max-height: 400px) {
         height: 220px;
         overflow: auto;
      }

      &-texto {
         min-height: max-content;
         margin: 1rem 0;
         padding: 0.5rem;
         color: $color-tres;
         background: $color-dos;
         &::placeholder {
            color: rgba($color-tres, 0.75);
            @include pantalla-tablet {
               font-size: 14px;
            }

            @include pantalla-celular {
               font-size: 12px;
            }
         }
      }

      &-botones {
         @include disposicion-flex(row);
      }

      &-registrar,
      &-cancelar {
         @include boton-general($color-tres);
         @include enunciado-ventana-modal();
      }

      &-privacidad {
         position: relative;
         display: inline-block;
         @include dimensiones(2rem, 1rem, 1rem 0, 0);

         &-caja-seleccion {
            opacity: 0;
            width: 0;
            height: 0;
         }

         &-deslizador {
            @include deslizador(#ccc, 2rem);
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            box-shadow: 0 0 1px $color-tres;
            background-color: $color-tres;
         }

         &-deslizador:before {
            @include deslizador(white, 50%);
            content: "";
            height: 0.87rem;
            width: 0.75rem;
            left: 0.13rem;
            bottom: 0.1rem;
         }

         &-caja-seleccion:checked {
            + .modal-nuevo-proyecto-formulario-privacidad-deslizador {
               background-color: $color-cuatro;
            }
         }

         &-caja-seleccion:focus {
            + .modal-nuevo-proyecto-formulario-privacidad-deslizador {
               box-shadow: 0 0 1px $color-cuatro;
            }
         }

         &-caja-seleccion:checked {
            + .modal-nuevo-proyecto-formulario-privacidad-deslizador:before {
               transform: translateX(1rem);
            }
         }
      }
   }
}
