@import "./modalNuevoProyecto";
@import "../../estilos/modalFiltro";

.panel-opciones-portafolio {
   #{&}-grupo {
      @include disposicion-flex(row);
      align-items: center;
      margin-top: 1rem;

      &-opciones {
         width: 100%;
         @include disposicion-flex(row);

         &-btn {
            margin: 1rem auto;
            cursor: pointer;

            &-icono {
               @include icono-etiqueta(
                  darken($color-uno, 5%),
                  lighten($color-uno, 5%),
                  1.15rem
               );
            }
         }
      }

      &-info {
         margin: auto;

         &-btn {
            @include tooltip(12rem, -7.5rem, $color-tres, 23px);

            i{
               font-style: normal;
               font-family: fontAwesome;
               padding-left: 0.5rem;
               @include boton-icono($color-tres, $color-uno, 1.5rem);

            }


         }
      }

      @include pantalla-tablet {
         &-opciones {
            &-btn {
               &-icono {
                  font-size: 0.9rem;
               }
            }
         }
      }

      @include pantalla-celular {
         &-opciones {
            &-btn {
               margin: 1.5rem auto;
               &-icono {
                  font-size: 0.9rem;
               }
            }
         }
      }
   }
}
