@import "../../../../../scss/variables";

.contenedor-proyectos {
   display: flex;
   flex-direction: column;
   max-height: 50rem;
   overflow: auto;
   margin: 1rem;
   border: 0.1rem solid rgba(46, 178, 240, 0.89);
   border-radius: 1%;

   #{&}-principal {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 0.25rem;
   }
}

.contenedor-proyectos::-webkit-scrollbar {
   width: 0.625rem;
}

.contenedor-proyectos::-webkit-scrollbar-track {
   box-shadow: inset 0 0 0.5rem darken($color-dos, 50%);
}

.contenedor-proyectos::-webkit-scrollbar-thumb {
   background-color: $color-uno;
   box-shadow: inset 0 0 0.5rem darken($color-uno, 40%);
   outline: 1px solid slategrey;
}

.contenedor-proyectos::-webkit-scrollbar,
.contenedor-proyectos::-webkit-scrollbar-track,
.contenedor-proyectos::-webkit-scrollbar-thumb {
   border-radius: 0.5rem;
}
