@import "../../../../../scss/variables";
@import "../../estilos/mixins";

.proyecto {
   display: flex;
   flex-direction: column;
   height: 20rem;
   overflow: auto;
   padding: 1rem;
   margin: 1rem 1rem;
   font-size: 0.9rem;
   border: 0.1rem solid rgba(147, 214, 243, 0.89);
   border-radius: 3%;
   background: lighten($color-uno, 5%);
   box-shadow: -0.2rem -0.15rem 0.1rem darken($color-uno, 30%);

   #{&}-titulo {
      font-weight: bold;
      font-size: medium;
   }

   #{&}-titulo,
   #{&}-descripcion,
   #{&}-imagen {
      margin: 0.5rem 0.25rem;
      text-align: center;
   }

   #{&}-imagen {
      min-height: 6rem;
      max-height: 6rem;
      margin-bottom: 0.5rem;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
   }

   #{&}-opciones {
      display: flex;
      flex-direction: row;

      &-editar,
      &-estado,
      &-privacidad {
         margin: 0.5rem 2.5%;
      }

      &-editar {
         width: 10%;
         margin-left: 10%;
         @include boton-general-alt($color-uno, $color-tres);
         background-color: $color-dos;
         padding: 0.125rem;
         font-size: 1.25rem; /* Set a font size */
         font-family: fontAwesome;
      }

      &-estado {
         width: 40%;
         background: lighten($color-uno, 1%);
      }

      &-privacidad {
         position: relative;
         display: inline-block;
         width: 2rem;
         height: 1rem;
         margin-right: 10%;

         &-caja-seleccion {
            opacity: 0;
            width: 0;
            height: 0;
         }

         &-deslizador {
            @include deslizador(#ccc, 2rem);
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            box-shadow: 0 0 1px $color-tres;
            background-color: $color-tres;
         }

         &-deslizador:before {
            @include deslizador(white, 50%);
            content: "";
            height: 0.87rem;
            width: 0.75rem;
            left: 0.13rem;
            bottom: 0.1rem;
         }

         &-etiqueta {
            margin-top: 0.5rem;
         }

         &-caja-seleccion:checked {
            + .proyecto-opciones-privacidad-deslizador {
               background-color: $color-cuatro;
            }
         }

         &-caja-seleccion:focus {
            + .proyecto-opciones-privacidad-deslizador {
               box-shadow: 0 0 1px $color-cuatro;
            }
         }

         &-caja-seleccion:checked {
            + .proyecto-opciones-privacidad-deslizador:before {
               transform: translateX(1rem);
            }
         }
      }
   }
}

.proyecto::-webkit-scrollbar {
   width: 0.625rem;
}

.proyecto::-webkit-scrollbar-track {
   box-shadow: inset 0 0 0.5rem darken($color-uno, 40%);
}

.proyecto::-webkit-scrollbar-thumb {
   background-color: $color-uno;
   box-shadow: inset 0 0 0.5rem darken($color-dos, 50%);
   outline: 1px solid slategrey;
}

.proyecto::-webkit-scrollbar,
.proyecto::-webkit-scrollbar-track,
.proyecto::-webkit-scrollbar-thumb {
   border-radius: 0.5rem;
}
