.subseccion-portafolio {
   max-width: 60%;
   margin-left: 1rem;
   display: flex;
   flex-direction: column;
   flex-grow: 3;

   #{&}-nombre {
      font-size: 3rem;
      font-weight: bold;
      text-align: center;
      margin-bottom: 1rem;
   }

   #{&}-principal {
      margin: 0.5rem 1rem;
      border: 0.1rem solid rgba(27, 110, 148, 0.89);
   }
}
