.entrada-diario {
   @include dimensiones(88%, auto, 6%, 1rem);
   border: 0.1rem solid rgba(147, 214, 243, 0.89);
   border-radius: 3%;
   background: lighten($color-uno, 5%);
   box-shadow: -0.2rem -0.15rem 0.1rem darken($color-uno, 30%);

   #{&}-barra {
      @include disposicion-flex(row);

      &-tiempo {
         width: 90%;
         font-weight: bold;
      }

      &-borrar {
         width: 10%;
         &-btn {
            @include boton-icono($color-tres, $color-cuatro, 1.25rem);
            padding: 0.125rem;
         }
      }
   }

   #{&}-contenido {
      margin-top: 0.5rem;
      justify-content: baseline;
   }
}
