.contenedor-modal-eliminacion-entrada {
   @include contenedor-ventana-modal();
   @include dimensiones(100%, 100%, 0, 30vh 30%);

   @include pantalla-tablet {
      font-size: 14px;
      @include dimensiones(100%, 100%, 0, 30vh 20%);
   }

   @include pantalla-celular {
      font-size: 12px;
      @include dimensiones(100%, 100%, 0, 20vh 10%);
      @media (min-width: 500px) and (max-width: 800px) {
         @include dimensiones(100%, 100%, 0, 20vh 20%);
      }
   }
}

.modal-eliminacion-entrada {
   @include estilo-ventana-modal();
   animation: divergencia-modal-eliminacion-entrada 1s;

   h5 {
      @include estilo-titulo-modal();
   }

   #{&}-mensaje {
      margin: 0 1rem;
      padding: 2rem;
      color: $color-dos;
      background: darken($color-uno, 0.5%);
      box-shadow: 2px 2px 10px darken($color-uno, 15%),
         -2px -2px 10px darken($color-uno, 15%);
   }

   button {
      $color-dos-modificado: #246e8b;
      @include boton-general($color-dos-modificado);
      color: $color-uno;
      margin: 1.25rem 0.25rem;
      padding: 0.25rem 0.5rem;
      font-weight: bold;
   }
}
