.contenedor-modal-eliminacion-entrada {
   @include contenedor-ventana-modal();
   @include dimensiones(100%, 100%, 0, 30vh 30%);

   @include pantalla-tablet {
      font-size: 14px;
      @include dimensiones(100%, 100%, 0, 30vh 20%);
   }

   @include pantalla-celular {
      font-size: 12px;
      @include dimensiones(100%, 100%, 0, 20vh 10%);
      @media (min-width: 500px) and (max-width: 800px) {
         @include dimensiones(100%, 100%, 0, 20vh 20%);
      }
   }
}

.modal-eliminacion-entrada {
   @include estilo-ventana-modal();
   animation: divergencia-modal-eliminacion-entrada 1s;

   h5 {
      margin: 1rem 1rem;
      color: $color-uno;
      font-weight: bold;
      font-size: 1.15rem;
   }

   #{&}-mensaje {
      margin: 0 1rem;
      padding: 2rem;
      color: $color-dos;
      background: $color-uno;
   }

   button {
      @include boton-general($color-tres);
      margin: 1rem 0.25rem;
      padding: 0.25rem 0.5rem;
      font-weight: bold;
   }
}
