@import "../../../../../scss/variables";
@import "../../estilos/mixins";

.entrada-diario {
   padding: 1rem;
   margin: 1rem 1rem;
   border: 0.1rem solid rgba(147, 214, 243, 0.89);
   background: lighten($color-uno, 100%);

   #{&}-tiempo,
   #{&}-borrar {
      display: inline;
   }

   #{&}-tiempo {
      font-weight: bold;
      margin-right: 1rem;
   }

   #{&}-btn-borrar {
      @include boton-general($color-cuatro);
   }

   #{&}-contenido {
      margin-top: 0.5rem;
      justify-content: baseline;
   }
}
