@import "../../../../../scss/variables";
@import "../../estilos/mixins";

.entrada-diario {
   width: 88%;
   margin: 6%;
   padding: 1rem;
   border: 0.1rem solid rgba(147, 214, 243, 0.89);
   border-radius: 3%;
   background: lighten($color-uno, 5%);

   #{&}-barra {
      display: flex;
      flex-direction: row;

      &-tiempo {
         width: 90%;
         font-weight: bold;
      }

      &-borrar {
         width: 10%;
         &-btn {
            @include boton-general-alt($color-tres, $color-cuatro);
            padding: 0.125rem;
            font-size: 1.25rem; /* Set a font size */
            font-family: fontAwesome;
            font-style: normal;
         }
      }
   }

   #{&}-contenido {
      margin-top: 0.5rem;
      justify-content: baseline;
   }
}
