@import "../../../../../scss/variables";
@import "../../estilos/mixins";

.contenedor-modal-eliminacion-entrada {
   width: 100%;
   height: 100%;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 10;
   padding: 7.5rem 30%;
   background-color: rgba($color-dos, 0.5);
}

.modal-eliminacion-entrada {
   border-radius: 10%;
   background-color: $color-dos;
   text-align: center;
   box-shadow: -0.2rem -0.2rem 0.05rem lighten($color-dos, 20%);

   h5 {
      margin: 1rem 1rem;
      color: $color-uno;
      font-weight: bold;
   }

   #{&}-mensaje {
      margin: 0 1rem;
      padding: 2rem;
      color: $color-dos;
      background: $color-uno;
   }

   button {
      @include boton-general($color-tres);
      margin: 1rem 0.25rem;
      padding: 0.25rem 0.5rem;
      font-weight: bold;
   }
}
