@import "../../../../../scss/variables";
@import "../../estilos/mixins";

.panel-opciones-diario {
   #{&}-grupo {
      display: flex;
      flex-direction: row;
      align-items: center;

      &-opciones {
         display: flex;
         flex-direction: column;
         width: 80%;
         padding: 0.5rem 10%;

         &-btn {
            margin: 0.5rem 0;
            margin-bottom: 0;
            cursor: pointer;

            &-icono {
               padding: 0.3rem;
               font-style: normal;
               font-size: 1.15rem;
               font-family: fontAwesome;
               color: $color-uno;

               &-etiqueta {
                  margin-left: 0.5rem;

                  &:hover {
                     text-decoration: underline;
                  }
               }

               &:hover,
               &-etiqueta:hover {
                  cursor: pointer;
                  color: #fff;
               }
            }
         }
      }

      &-info {
         margin: auto;

         &-btn {
            width: 33%;
            font-style: normal;
            font-size: 1.5rem;
            font-family: fontAwesome;
            color: $color-tres;
            cursor: pointer;

            &:hover {
               color: $color-cuatro;
            }
         }
      }
   }

   #{&}-etiqueta {
      color: $color-uno;
   }
}
