@mixin boton-general($color-fondo) {
    padding: 0.5rem 1rem;
    background: $color-fondo;
    border-radius: 15%;
    &:hover {
       cursor: pointer;
       background: darken($color-fondo, 25%);
       color: lighten($color-fondo, 75%);
    }
 }