@import "../../../../scss/variables";
@import './mixins'; 
@import "./animaciones";


.contenedor-modal-agregar-asignatura {
    @include contenedor-ventana-modal();
    @include dimensiones(100%, 100%, 0, 20vh 30%);
 
    @include pantalla-tablet {
       font-size: 14px;
       @include dimensiones(100%, 100%, 0, 5vh 20%);
    }
 
    @include pantalla-celular {
       font-size: 12px;
       @include dimensiones(100%, 100%, 0, 10vh 10%);
       @media (min-width: 600px) and (max-width: 800px) {
          @include dimensiones(100%, 100%, 0, 5vh 20%);
       }
    }
 }
 
 .modal-agregar-asignatura {
    @include estilo-ventana-modal();
    animation: divergencia-modal-registro-entrada 1s;
    #{&}-titulo{
       color: $color-dos;
       padding: 0.35rem;
    }
    #{&}-formulario {
       padding: 1rem 2rem;
       background: darken($color-uno, 0.5%);
       animation: transicion-ventana-interna 2s;
       &-campotexto {
          @include dimensiones(100%, 15rem, auto,auto);
          color: $color-dos;
          padding: 0.35rem;
          background: $color-uno;
          border: none;
          resize: none;
          box-shadow: 2px 2px 10px darken($color-uno, 15%),
          -2px -2px 10px darken($color-uno, 15%);
          &:placeholder {
             color: darken($color-uno, 50%);
             @include pantalla-tablet {
                font-size: 14px;
             }
 
             @include pantalla-celular {
                font-size: 12px;
             }
          }
 
          &:focus,
          & select:focus {
             outline: none;
             border: none;
          }
       }
 
       &-botones {
           &-nueva-asignatura{
            $color-dos-modificado: #246e8b;
            @include boton-general($color-dos-modificado);
            @include enunciado-ventana-modal();
            color: $color-uno;
            margin-bottom: 1.25rem;
           }
           &-finalizar{
            $color-dos-modificado: #246e8b;
            @include boton-general($color-dos-modificado);
            @include enunciado-ventana-modal();
            color: $color-uno;
            margin-bottom: 1.25rem;
           }
           &-restablecer{
            &-boton{
               $color-dos-modificado: #246e8b;
               @include boton-general($color-dos-modificado);
               @include enunciado-ventana-modal();
               color: $color-uno;
               margin-bottom: 1.25rem;
            }
            &-ayuda{              
               @include tooltip(12rem, -7.5rem, #246e8b, 23px);
               i{
                  font-style: normal;
                  font-family: fontAwesome;
                  padding-left: 0.5rem;
                  @include boton-icono(#246e8b, $color-dos, 1.3rem);
               }
            }
           }
       }
    }
 }

 a {

   outline: none;
   text-decoration: none;
   color: $color-tres;

 }