.proyecto-publico {
   @include disposicion-flex(column);
   @include dimensiones(auto, 17rem, 1rem, 1rem);
   @include configuracion-contenedor(22.5rem);
   font-size: 0.9rem;
   border: 0.1rem solid rgba(147, 214, 243, 0.89);
   background: lighten($color-uno, 5%);
   box-shadow: -0.2rem -0.15rem 0.1rem darken($color-uno, 30%);
   @include barra-scroll(0, 20%);

   #{&}-titulo {
      font-weight: bold;
      font-size: medium;
      color: $color-dos;
      cursor: pointer;
   }

   #{&}-titulo,
   #{&}-descripcion,
   #{&}-imagen {
      margin: 0.5rem 0.25rem;
      text-align: center;
   }

   #{&}-imagen {
      min-height: 6rem;
      max-height: 6rem;
      margin-bottom: 0.5rem;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
   }

   @include pantalla-tablet {
      @include dimensiones(auto, 22.5rem, 1rem, 1rem);
      @include configuracion-contenedor(22.5rem);

      #{&}-imagen {
         margin: 0.5rem 10%;
         min-height: 9rem;
         max-height: 9rem;
      }
   }

   @include pantalla-celular {
      @include dimensiones(auto, 28rem, 1rem, 1rem);
      @include configuracion-contenedor(28rem);

      #{&}-imagen {
         margin: 0.5rem 15%;
         min-height: 9rem;
         max-height: 9rem;
      }
   }
}
