@mixin disposicion-flex($direccion) {
   display: flex;
   flex-direction: $direccion;
   justify-items: center;
}

@mixin cuadricula($num-elementos-fila, $espacio-fila, $espacio-columna) {
   display: grid;
   grid-template-columns: repeat($num-elementos-fila, 1fr);
   grid-row-gap: $espacio-fila;
   grid-column-gap: $espacio-columna;
}

@mixin dimensiones($ancho, $alto, $margen-externo, $margen-interno) {
   width: $ancho;
   height: $alto;
   margin: $margen-externo;
   padding: $margen-interno;
}

@mixin centrado-contenido() {
   margin: 0 auto;
   text-align: center;
}

@mixin boton-general($color-fondo) {
   padding: 0.5rem 1rem;
   background: $color-fondo;
   border-radius: 10%;
   border: none;
   box-shadow: 3px 3px 3px darken($color-uno, 20%);

   &:hover {
      cursor: pointer;
      background: darken($color-fondo, 25%);
      color: lighten($color-fondo, 75%);
      box-shadow: 2px 2px 1.5px darken($color-uno, 50%);
   }

   &:focus,
   & select:focus {
      outline: none;
      border: none;
   }
}

@mixin boton-icono($color-inicial, $color-seleccion, $tamanio-fuente) {
   font-size: $tamanio-fuente;
   font-family: fontAwesome;
   font-style: normal;
   @include boton-general-alt($color-inicial, $color-seleccion);
}

@mixin boton-icono-etiqueta(
   $color-inicial,
   $color-seleccion,
   $tamanio-fuente,
   $cambio-fondo: false
) {
   @include boton-general-alt($color-inicial, $color-seleccion);

   i {
      font-style: normal;
      font-family: fontAwesome;
      font-size: $tamanio-fuente;
   }

   &:hover {
      @if $cambio-fondo {
         background-color: $color-inicial;
         border-radius: 15%;
      }
   }
}

@mixin icono-etiqueta($color-inicial, $color-seleccion, $tamanio-fuente) {
   @include boton-general-alt($color-inicial, $color-seleccion);
   font-style: normal;
   font-size: $tamanio-fuente;
   font-family: fontAwesome;
   color: $color-inicial;

   &-etiqueta {
      margin-left: 0.5rem;

      &:hover {
         text-decoration: underline;
      }
   }

   &:hover,
   &-etiqueta:hover {
      cursor: pointer;
      color: #fff;
   }
}

@mixin boton-general-alt($color-inicial, $color-seleccion) {
   padding: 0.5rem 1rem;
   color: $color-inicial;
   border-radius: 15%;

   &:hover {
      cursor: pointer;
      color: $color-seleccion;
   }
}

@mixin titulo-subseccion() {
   font-size: 2rem;
   font-weight: bold;
   text-align: center;
   margin: 1.5rem 0;
   color: $color-dos;
}

@mixin contenedor-ventana-modal() {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 10;
   background-color: rgba($color-dos, 0.5);
}

@mixin enunciado-ventana-modal() {
   margin: 1rem 0.25rem;
   padding: 0.25rem 0.5rem;
}

@mixin estilo-ventana-modal() {
   border-radius: 3px;
   background-color: darken($color-uno, 0.5%);
   text-align: center;
   box-shadow: 2px 0px 2px darken($color-uno, 15%),
      -2px -2px 2px darken($color-uno, 15%);
}

@mixin estilo-titulo-modal() {
   font-size: 1.15rem;
   margin: 1rem 1rem;
   padding: 1rem;
   color: $color-dos;
   font-weight: bolder;
}

@mixin configuracion-contenedor($altura-maxima) {
   max-height: $altura-maxima;
   overflow: auto;
   margin: 1rem;
   border-radius: 3%;
   box-shadow: 0 0 0.75rem lighten($color-dos, 20%);
}

@mixin deslizador($color-fondo, $radio-borde) {
   position: absolute;
   background-color: $color-fondo;
   border-radius: $radio-borde;
   transition: 0.4s;
}

@mixin barra-scroll($oscurecimiento-barra, $oscurecimiento-contenedor) {
   &::-webkit-scrollbar {
      width: 0.625rem;
   }

   &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 0.5rem
         darken($color-uno, $oscurecimiento-contenedor);
   }

   &::-webkit-scrollbar-thumb {
      background-color: $color-uno;
      box-shadow: inset 0 0 0.5rem darken($color-dos, $oscurecimiento-barra);
      outline: 1px solid slategrey;
   }

   &::-webkit-scrollbar,
   &::-webkit-scrollbar-track,
   &::-webkit-scrollbar-thumb {
      border-radius: 0.5rem;
   }
}

@mixin gradiente-seccion($porcentaje-uno, $porcentaje-dos) {
   background: linear-gradient(
      to left top,
      lighten($color-dos, $porcentaje-uno * 0.6),
      lighten($color-dos, $porcentaje-uno * 0.6 * 2),
      lighten($color-dos, $porcentaje-dos * 0.6 * 2),
      lighten($color-dos, $porcentaje-dos * 0.6)
   );
}

@mixin transicion-modal() {
   from {
      transform: translateY(100%);
   }

   to {
      transform: translateY(0%);
   }
}

@mixin pantalla-celular {
   @media (max-width: 800px) {
      @content;
   }
}

@mixin pantalla-tablet {
   @media (min-width: 800px) and (max-width: 1100px) {
      @content;
   }
}

@mixin color-claro-u-oscuro($sombra, $color, $porcentaje, $aclarar: true) {
}

@mixin sombra-clara-u-oscura($color, $porcentaje, $aclarar: true) {
   @if $aclarar {
      box-shadow: $sombra lighten($color, $porcentaje);
   } @else {
      box-shadow: $sombra darken($color, $porcentaje);
   }
}

@mixin fondo-claro-u-oscuro($color, $porcentaje, $aclarar: true) {
   @if $aclarar {
      background: ligthen($color, $porcentaje);
   } @else {
      background: darken($color, $porcentaje);
   }
}

@mixin tooltip($ancho, $distancia, $background, $centro) {
   position: relative;
   &::before {
      background-color: $background;
      border-radius: 5px;
      color: #fff;
      font-size: 0.9rem;
      content: attr(
         aria-label
      ); //This pulls in the text from the element with the tooltip
      left: -80px; //This centers the container above the element
      padding: 1rem;
      position: absolute;
      text-transform: none;
      top: $distancia; //This places the container above the element that needs a tooltip
      transition: all 0.3s ease;
      width: $ancho;
   }

   //Tooltip arrow
   //You can adjust the position of this to align nicely with the element that
   //needs a tooltip. You can also use `transform` to rotate it to make the
   //tooltip work below or next to the element.
   &::after {
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid $background;
      content: " ";
      font-size: 0;
      left: $centro; //This centers the arrow above the element with the tooltip
      line-height: 0;
      margin-left: -5px;
      position: absolute;
      top: -12px; //This positions the arrow at the bottom of the container
      width: 0;
   }

   //Setting up the transition
   &::before,
   &::after {
      opacity: 0;
      pointer-events: none;
   }

   //Triggering the transition
   &:focus::before,
   &:focus::after,
   &:hover::before,
   &:hover::after {
      opacity: 1;
      transition: all 0.75s ease;
   }
}
