$color-primario-barra-nav: #0b252f;
$color-secundario-barra-nav: #ffffff;

$color-uno: #FFFFFF;
$color-dos: #144659;
$color-tres: #32C8D9;
$color-cuatro: #1F788C;

$fuente-principal: "Assistant", sans-serif;