$color-primario-barra-nav: #0b252f;
$color-secundario-barra-nav: #ffffff;

$color-uno: #fafafa;
$color-dos: #144659;
$color-tres: #32c8d9;
$color-cuatro: #1f788c;

$fuente-principal: "Assistant", sans-serif;