$color-primario-barra-nav: #0b252f;
$color-secundario-barra-nav: #ffffff;

<<<<<<< HEAD
$color-uno: #FFFFFF;
$color-dos: #144659;
$color-tres: #32C8D9;
$color-cuatro: #1F788C;
=======
$color-uno: #fafafa;
$color-dos: #144659;
$color-tres: #32c8d9;
$color-cuatro: #1f788c;

$fuente-principal: "Assistant", sans-serif;
>>>>>>> master
