@import './mixins';
@import "../../../../scss/variables";
@import "../../../../scss/resets";
@import "../../../../scss/mixins";

.inicio-sesion{
    display: flex;
    flex-direction: column;
    width: 35%;
    min-width: 475px;
    margin: 2.5rem auto 0 auto;
    padding: 0.8rem;
    text-align: center;
    background-color: $color-dos;
    box-shadow: 2px 2px 10px darken($color-tres, 15%),
            -2px -2px 10px darken($color-tres, 15%);
    #{&}-titulo{
        padding: 0 0 1.5rem 0;
        font-size: 2rem;
        font-weight: bold;;
        color:$color-uno;
    }        
    #{&}-formulario{
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        &-boton-enviar{
            @include boton-general($color-cuatro);
            color: $color-uno ;
            margin-left: auto;
            margin-right: auto;
            padding: 0.5rem;
            margin: 1rem 0 1rem 0;
            font-size: 1rem;
        }
        &-entrada{
            width: 95%;
            margin-left: auto;
            margin-right: auto;
            margin: 0.3rem;
            padding: 0.5rem;
            outline: none;
            font-size: 1rem;
        }
    }
    
    #{&}-link{
        color: $color-uno;
        
        padding: 0;
    }
    @include pantalla-celular {
        width: 90%;
        min-width: 100px;
      }
    
      @include pantalla-tablet {
        width: 60%;
        max-width: 475px;
      }
}